# fartcoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.fartcoin
host=127.0.0.1

#mainnet default
port=9338

#testnet default
#port=19338

#regtest default
#port=19443

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=f2cab4db
genesis=0x30ab0676db11ce93d84e1ed42699cda2f8c118146e1eb42e51acc1f822f09da5
input=/home/example/.fartcoin/blocks

# testnet
#netmagic=f2cab4db
#genesis=0xd01f76532b71814710dade3c232590b3da00f3087cdb9a57b7fa19b8b9bde492
#input=/home/example/.fartcoin/testnet3/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
